operator aritmatika

In [5]:
x = int(input("masukkan input x "))
y = int(input("masukkan input y "))

hasiltambah = x + y
hasilkurang = x - y
hasilkali = x * y
hasilbagi = x / y
hasilmod = x % y
hasilpangkat = x ** y
hasilbagibulat = x // y

print("hasil penjumlahan",x,"+",y,"=",hasiltambah)
print("hasil pengurangan",x,"-",y,"=",hasilkurang)
print("hasil perkalian",x,"*",y,"=",hasilkali)
print("hasil pempabgian",x,"/",y,"=",hasilbagi)
print("hasil modulus ",x,"%",y,"=",hasilmod)
print("hasil pangkat",x,"**",y,"=",hasilpangkat)
print("hasil bagibulat",x,"//",y,"=",hasilbagibulat)

masukkan input x  10
masukkan input y  2

hasil penjumlahan 10 + 2 = 12
hasil pengurangan 10 - 2 = 8
hasil perkalian 10 * 2 = 20
hasil pempabgian 10 / 2 = 5.0
hasil modulus  10 % 2 = 0
hasil pangkat 10 ** 2 = 100
hasil bagibulat 10 // 2 = 5

operator penugasan

In [25]:
nilai = int(input("isikan nilai : "))
print("nilai", nilai, " dari variable <nilai> adalah : ",nilai )
nilai +=5 
print("nilai", nilai,"setelah di tambah 5 hasilnya adalah ",nilai)
nilai -=5 
print("nilai", nilai,"setelah di kurang 5 hasilnya adalah ",nilai)
nilai *=5 
print("nilai", nilai,"setelah di kalikan 5 hasilnya adalah ",nilai)
nilai /=5 
print("nilai", nilai,"setelah di bagi 5 hasilnya adalah ",nilai)

isikan nilai :  12

nilai 12  dari variable <nilai> adalah :  12
nilai 17 setelah di tambah 5 hasilnya adalah  17
nilai 12 setelah di kurang 5 hasilnya adalah  12
nilai 60 setelah di kalikan 5 hasilnya adalah  60
nilai 12.0 setelah di bagi 5 hasilnya adalah  12.0

operator perbandingan

In [30]:
vall1 = int(input("masukkan nilai 1 "))
vall2 = int(input("masukkan nilai 2 "))

print("apakah",vall1,"sama dengan",vall2," :?", vall1==vall2)
print("apakah",vall1,"tidak samadengan ",vall2," :?", vall1!=vall2)
print("apakah",vall1,"sama dengan",vall2," :?", vall1>vall2)
print("apakah",vall1,"sama dengan",vall2," :?", vall1>=vall2)
print("apakah",vall1,"sama dengan",vall2," :?", vall1<vall2)
print("apakah",vall1,"sama dengan",vall2," :?", vall1<=vall2)

masukkan nilai 1  10
masukkan nilai 2  10

apakah 10 sama dengan 10  :? True
apakah 10 tidak samadengan  10  :? False
apakah 10 sama dengan 10  :? False
apakah 10 sama dengan 10  :? True
apakah 10 sama dengan 10  :? False
apakah 10 sama dengan 10  :? True

operator Logika

In [42]:
no1 = int(input("isikan nomor 1"))
no2 = int(input("isikan nomor 2"))

print("apakah no1 % no 2 = 0 and no2 > 4 ? ", no1 %no2 and no2 > 4)
print("apakah no1 % no 2 = 0 or no2 > 4 ? ", no1 %no2 or no2 > 4)
print("apakah no1 % no 2 = 0 not no2 > 4 ? ", not (no1 %no2 and no2 > 4))

isikan nomor 1 1
isikan nomor 2 1

apakah no1 % no 2 = 0 and no2 > 4 ?  0
apakah no1 % no 2 = 0 or no2 > 4 ?  False
apakah no1 % no 2 = 0 not no2 > 4 ?  True

operator identitas

In [47]:
no1 = 10
no2 = "10"
no3 = no2 

print("alamat memori nomor 1", id(no1))
print("alamat memori nomor 2",id(no2))
print("alamat memori nomor 2",id(no3))

print(no1 is no2)
print(no2 is no3)
print(no1 is not no2)

alamat memori nomor 1 140710866528984
alamat memori nomor 2 1634944854768
alamat memori nomor 2 1634944854768
False
True
True

operator keanggotaan

In [55]:
nama ="latip"
print("p" in nama)

listpresiden ={"sukarno","prabowo","jokowi","suharto"}
print(nama in listpresiden)
print(nama not in listpresiden)

True
False
True

operator bitwise

In [71]:
no1 = int(input("isikan bilangan 1 : "))
no2 = int(input("isikan bilangan 2 : "))

print("n")
print(bin(no1))
print(bin(no2))
print("---------------------&")
print(bin(no1 & no2)," = ",no1 & no2)

print(bin(no1))
print(bin(no2))
print("--------------------- |")
print(bin(no1 | no2)," = ",no1 | no2)

print(bin(no1))
print(bin(no2))
print("---------------------^")
print(bin(no1 ^ no2)," = ",no1 ^ no2)

print(bin(no1),"geser ke kiri sebanyak",no2)
print("hasilnya adalah",bin(no1 << no2)," = ",no1 << no2)

print(bin(no1),"geser ke kanan sebanyak",no2)
print("hasilnya adalah",bin(no1 >> no2)," = ",no1 >> no2)

isikan bilangan 1 :  1
isikan bilangan 2 :
  1

0b1
0b1
---------------------&
0b1  =  1
0b1
0b1
--------------------- |
0b1  =  1
0b1
0b1
---------------------^
0b0  =  0
0b1 geser ke kiri sebanyak 1
hasilnya adalah 0b10  =  2
0b1 geser ke kanan sebanyak 1
hasilnya adalah 0b0  =  0

operator ternary

In [80]:
#mengecek bilangann ganjil atau genap
no =int(input("masukkan bilangan : "))
nilai = "genap" if no % 2==0 else "ganjil"
print(no,"adalah bilangan",nilai)

masukkan bilangan :  1

1 adalah bilangan ganjil

soal latihan  ibu berberlanja takjil untuk berbuka puasa dengan pilihan menu : 
<ol>
    <li>
        pisang coklat : 13.000
    </li>
    <li>
        kolak : 7.000
    </li>
    <li>
        es buah : 15.000
    </li>
</ol>
jika ibu berbelanja lebih dari 25.000 maka akan mendapatkan diskon 5 % hitunglah total belanjaan yang harus di bayar oleh ibu

In [115]:
piscok = int(input("masukkan jumlah pisang coklat yang di beli : "))
kolak = int(input("masukkan jumlah kolak yang di beli : "))
esbuah = int(input("masukkan jumlah esbuah yang di beli : "))

jpiscok = piscok * 13000
jkolak = kolak *7000
jesbuah = esbuah *15000
totalbelanja = jpiscok + jkolak + jesbuah
print(totalbelanja)

diskon = 5 if total belanja > 25000 else 0 
print("total diskon",diskon,"% -->",totalbelanja =(diskon/100))

print("total bayar : ",totalbayar (totalbelanja =(diskon/100))

SyntaxError: expected 'else' after 'if' expression (605568164.py, line 11)